.noty_bar {
  overflow:           hidden;
  margin:             4px 0;
  border-radius:      $border-radius-base;

  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow:         0 2px 4px rgba(0, 0, 0, 0.1);

  background-color:   $gray-dark;

  .noty_message {
    font-size:   1em;
    line-height: 16px;
    text-align:  left;
    padding:     15px;
    width:       auto;
    position:    relative;
    color:       #FFFFFF;

    .mini-spinner {
      float: left;
      > div {
        background-color: white;
      }
    }

    > i {
      font-size:      2em;
      vertical-align: middle;
      text-align:     center;
      width:          1em;
    }

    > span {
      padding-left: 15px;
    }
  }

}

.noty_type_success {
  i {
    color: $brand-success;
  }
}

.noty_type_error {
  i {
    color: $brand-danger;
  }
}

.noty_type_warning {
  i {
    color: $brand-warning;
  }
}

.noty_type_information {
  i {
    color: $brand-info;
  }
}

.noty_type_alert {
  i {
    color: $gray-light;
  }
}

.noty_type_busy {

  //padding-top:    7px;
  //padding-bottom: 5px;
  //
  //&.noty_bar .noty_message {
  //  padding-left: 41px;
  //}
  //
  //div.loader-container {
  //  width:    1em;
  //  display:  inline-block;
  //  position: absolute;
  //  top:      22px;
  //  left:     30px;
  //
  //}
  //div.loader {
  //
  //}
  //span {
  //  padding-left: 40px;
  //}
}
