.c3-page {
  margin-left: $sidebar-width;

  .c3-page-header {

    .navbar-brand {
      margin-left: $padding;
    }

    .navbar-fixed-top {
      left: $sidebar-width;
    }

    li > a {
      padding: 15px 15px;
    }
  }

}

.c3-page-body {
  margin: $padding*2 $padding;

  .padding {
    padding: $padding;
  }

  .container-fluid > div, .container-fluid > table {
    margin-bottom: $padding * 2;
  }

  .container-fluid > table {
    background: $body-bg;
  }

}

.c3-page-spinner {
  position:   fixed;
  top:        $header-height;
  bottom:     0;
  right:      0;
  left:       $sidebar-width;

  text-align: center;
  //background: rgba(255, 255, 255, 0.75);
  z-index:    2000;

  .spinner {
    margin-top: $header-height !important;
  }

  h2 {
    margin-top: $padding;
  }
}
