.c3-page{
  margin-left: $sidebar-width;

  .c3-page-header{
    .navbar-fixed-top{
      left: $sidebar-width;
    }
  }

}


.c3-page-spinner{
  position: fixed;
  top: $header-height;
  bottom: 0;
  right: 0;
  left: $sidebar-width;

  text-align: center;
  background: rgba(255,255,255,0.75);
  z-index: 2000;

  .spinner{
    margin-top: $header-height !important;
  }

  h2{
    margin-top: 15px;
  }
}
