.c3-sidebar {
  position:          fixed;
  top:               0;
  bottom:            0;
  left:              0;
  width:             $sidebar-width;
  margin-top:        0;
  margin-bottom:     0;
  background-color:  $navbar-inverse-bg;
  overflow-y:        auto;
  -webkit-transform: translate3d(0, 0, 0);

  .c3-sidebar-header {
    //background-color: darken($gray-dark, 10%);
    position: absolute;
    top:      0;
    height:   $header-height;
    left:     0;
    width:    100%;

    .dropdown-item {
      cursor: pointer;
    }

    .btn-group {
      width:  100%;
      height: $header-height;

      .btn {
        background:    darken($gray-dark, 10%);
        color:         $gray-lighter;
        border:        none;
        border-radius: 0;
        height:        $header-height;
        font-weight:   bold;
      }

    }

  }

  .c3-sidebar-body {
    position: absolute;
    top:      $header-height;
    bottom:   0;
    width:    100%;

    li {
      margin-top: 0;
    }

    .nav-item > a {
      text-decoration:    none;
      vertical-align:     middle;
      border-radius:      0;
      color:              $gray-light;
      font-size:          16px;
      font-weight:        400;

      transition:         all 0.4s;
      -moz-transition:    all 0.4s;
      -webkit-transition: all 0.4s;
      -o-transition:      all 0.4s;
      border-left:        3px solid $navbar-inverse-bg;
      outline:            none !important;
      padding:            12px 25px 12px 20px;

      i {
        color:        $gray-light;
        margin-right: 12px;
        font-size:    19px;
        width:        25px;
        float:        left;
        text-align:   center;
      }
    }

    a.nav-link.active, a:hover {
      background:  darken($gray-darker, 5%);
      border-left: 3px solid $brand-primary;
      color:       white;
      i {
        color: white;
      }
    }

  }

}
