table.table{
  margin-bottom: 0;
}

.btn-table{
  text-transform: uppercase;
  color: lighten($gray-light, 20%);
  background: transparent;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0;
  margin-left: 5px;

  &:hover{
    &.btn-table-primary{
      color: $brand-primary;
    }
    &.btn-table-success{
      color: $brand-success;
    }
    &.btn-table-info{
      color: $brand-info;
    }
    &.btn-table-warning{
      color: $brand-warning;
    }
    &.btn-table-danger{
      color: $brand-danger;
    }
  }
}
