<c3-page-header page-title="'EVENTS.TITLE'"></c3-page-header>

<!--page-promise=""-->
<c3-page-body page-promise="vm.events">

  <div ng-if="vm.events.isFulfilled()">
    <h1 class="page-header margin-top-none">{{'EVENTS.TITLE'|translate}}
      <small></small>
    </h1>


    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="row">
              <div class="col-sm-6">
                <button class="btn btn-success">
                  <i class="fa fa-plus"></i>
                  {{'EVENTS.CREATE'|translate}}
                </button>
              </div>
              <div class="col-sm-6">
                <div class="input-group pull-right">
                  <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                  <input class="form-control" type="search" placeholder="Filter" ng-model="vm.table.filterValue">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <table class="table table-striped table-bordered dataTable" cellspacing="0" role="grid" width="100%">
                  <thead>
                  <th class="header" ng-class="vm.table.getOrderClass('id')" ng-click="vm.table.setOrderBy('id')">
                    <a>{{'COMMON.LABELS.ID' | translate }}</a></th>
                  <th class="header" ng-class="vm.table.getOrderClass('teamName')" ng-click="vm.table.setOrderBy('teamName')">
                    <a>{{'COMMON.LABELS.NAME' | translate }}</a>
                  </th>
                  <th class="header" ng-class="vm.table.getOrderClass('updatedAt')"
                      ng-click="vm.table.setOrderBy('updatedAt')">
                    <a>{{ 'COMMON.LABELS.UPDATED_AT' | translate }}</a>
                  </th>
                  <th class="header" ng-class="vm.table.getOrderClass('createdAt')"
                      ng-click="vm.table.setOrderBy('createdAt')">
                    <a>{{ 'COMMON.LABELS.CREATED_AT' | translate }}</a>
                  </th>

                  <th class="header"></th>
                  </thead>
                  <tbody>

                  <tr ng-repeat="team in vm.events.value() | filter:vm.table.filterValue
                    | orderBy: vm.table.orderValue:vm.table.isRevert">

                    <td><span>{{team.id}}</span></td>
                    <td><span>{{team.teamName}}</span></td>
                    <td><p>{{team.updatedAt | c3DateFilter:'DD.MM.YYYY HH:MM:SS'}}</p></td>
                    <td><p>{{team.createdAt | c3DateFilter:'DD.MM.YYYY HH:MM:SS'}}</p></td>
                    <td>
                      <div class="pull-right">
                        <button type="button" class="btn btn-table btn-table-primary">
                          {{'COMMON.ACTIONS.DETAIL'|translate}}
                        </button>
                        <button type="button" class="btn btn-table btn-table-primary">
                          {{'COMMON.ACTIONS.UPDATE'|translate}}
                        </button>
                        <button type="button" class="btn btn-table btn-table-danger">
                          {{'COMMON.ACTIONS.DESTROY'|translate}}
                        </button>
                      </div>
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</c3-page-body>
