<div class="c3-page-header">
  <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
    <span class="navbar-brand">{{pageHeader.pageTitle | translate}}</span>

    <ul class="nav navbar-nav pull-right">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-user"></i>
          User
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="public.signin">
          <i class="fa fa-sign-out"></i>
          Logout
        </a>
      </li>
    </ul>
  </nav>
</div>


