<div class="c3-sidebar">
  <div class="c3-sidebar-header">

    <div class="btn-group">
      <button type="button" class="btn btn-secondary btn-block dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        {{ 'SIDEBAR.ENVIRONMENTS.' + sidebar.selectedEnvironment | translate }}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" ng-repeat="env in sidebar.getEnvironments()"
           ng-class="{active: env === sidebar.selectedEnvironment}"
           ng-click="sidebar.select(env)">
          {{ 'SIDEBAR.ENVIRONMENTS.' + env | translate }}
        </a>
      </div>
    </div>

  </div>
  <div class="c3-sidebar-body">
    <ul class="nav nav-pills nav-stacked">
      <li class="nav-item" ng-repeat="item in sidebar.getList() | orderBy:'+position'">
        <a ui-sref="{{item.state}}" class="nav-link" ui-sref-active="active">
          <i class="fa" ng-class="item.iconClass"></i>
          {{ item.translateId | translate }}
        </a>
      </li>
    </ul>
  </div>
</div>
