<div class="container">

  <form class="c3-form-signin" name="vm.form" novalidate>

    <pre>{{vm.promise|json}}</pre>
    <pre>{{vm.email|json}}</pre>
    <pre>{{vm.password|json}}</pre>

    <h2 class="c3-form-signin-heading">{{'SIGNIN.TITLE'|translate}}</h2>

    <div class="alert alert-danger" role="alert" ng-show="vm.promise.isRejected()">
      <strong>Oh snap!</strong> {{'SIGNIN.MESSAGES.ERROR'|translate}}
    </div>

    <label for="inputEmail" class="sr-only">{{'COMMON.LABELS.EMAIL'|translate}}</label>
    <input type="email" name="email" id="inputEmail" ng-model="vm.email" class="form-control"
           placeholder="{{'COMMON.LABELS.EMAIL'|translate}}" required autofocus>

    <label for="inputPassword" class="sr-only">{{'COMMON.LABELS.PASSWORD'|translate}}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" ng-model="vm.password"
           placeholder="{{'COMMON.LABELS.PASSWORD'|translate}}" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="vm.submit()" ng-disabled="vm.form.$invalid">
      {{'COMMON.ACTIONS.SIGNIN'|translate}}
    </button>

  </form>


  <div class="c3-signin-spinner" ng-show="vm.promise.isPending()">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 spinner spinner-md"></div>
        <h2 class="col-xs-12">{{'SIGNIN.MESSAGES.PENDING'|translate}}</h2>
        <p class="col-xs-12">{{'COMMON.PLEASE_WAIT'|translate}}</p>
      </div>
    </div>
  </div>


</div> <!-- /container -->


<!--<div class="container-fluid">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<form class="c3-form-signin" name="vm.form" novalidate>-->
<!--<h2 class="c3-form-signin-heading" style="text-align: center">{{ 'TITLE.SIGN_IN' | translate }}</h2>-->
<!--<br/>-->

<!--<div class="alert alert-danger" role="alert" ng-show="vm.hasFailed && vm.promise.isFulfilled()">{{-->
<!--'MESSAGE.ERROR.LOGIN' | translate }}-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="input-email" class="sr-only">{{ 'LABEL.EMAIL' | translate }}</label>-->

<!--<div class="input-group">-->
<!--<span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>-->
<!--<input type="email" name="email" id="input-email" ng-model="vm.email" class="form-control"-->
<!--placeholder="E-Mail Addresse" required autofocus/>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="input-password" class="sr-only">{{ 'LABEL.PASSWORD' | translate }}</label>-->

<!--<div class="input-group">-->
<!--<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>-->
<!--<input type="password" name="password" ng-model="vm.password" id="input-password" class="form-control"-->
<!--placeholder="Passwort" required/>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; <div class="form-group">-->
<!--<label for="inputPassword" class="sr-only">Password</label>-->
<!--<input type="password" name="password" ng-model="vm.password" id="inputPassword"-->
<!--class="form-control" placeholder="Passwort" required>-->
<!--</div> &ndash;&gt;-->
<!--<div class="form-group">-->
<!--<button class="btn btn-lg btn-primary btn-block" ng-click="vm.submit()"-->
<!--ng-disabled="vm.form.$invalid">{{ 'LABEL.SIGN_IN' | translate }}-->
<!--</button>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row" ng-show="vm.promise.isFulfilled() === false || vm.promise.isResolved() === true"-->
<!--style="margin-top: 120px">-->
<!--<div class="col-xs-12">-->
<!--<div class="loader loader-lg"></div>-->
<!--</div>-->
<!--<div class="col-xs-12" style="text-align: center; margin-top: 15px;">-->
<!--<h1>{{ 'MESSAGE.LOADING.LOGIN' | translate }}</h1>-->
<!--</div>-->
<!--</div>-->

<!--</div> &lt;!&ndash; /container &ndash;&gt;-->

