<div class="container">

  <form class="c3-form-signin" name="vm.form" novalidate>

    <h2 class="c3-form-signin-heading">{{'SIGNIN.TITLE'|translate}}</h2>

    <div class="alert alert-danger" role="alert" ng-show="vm.promise.isRejected()">
      <strong>Oh snap!</strong> {{'SIGNIN.MESSAGES.ERROR'|translate}}
    </div>

    <label for="inputEmail" class="sr-only">{{'COMMON.LABELS.EMAIL'|translate}}</label>
    <input type="email" name="email" id="inputEmail" ng-model="vm.email" class="form-control"
           placeholder="{{'COMMON.LABELS.EMAIL'|translate}}" required autofocus>

    <label for="inputPassword" class="sr-only">{{'COMMON.LABELS.PASSWORD'|translate}}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" ng-model="vm.password"
           placeholder="{{'COMMON.LABELS.PASSWORD'|translate}}" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="vm.submit()"
            ng-disabled="vm.form.$invalid">
      {{'COMMON.ACTIONS.SIGNIN'|translate}}
    </button>

  </form>

  <div class="c3-signin-spinner" ng-show="vm.promise.isPending()">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 spinner spinner-md"></div>
        <h2 class="col-xs-12">{{'SIGNIN.MESSAGES.PENDING'|translate}}</h2>

        <p class="col-xs-12">{{'COMMON.PLEASE_WAIT'|translate}}</p>
      </div>
    </div>
  </div>


</div> <!-- /container -->
