<div class="container theme-showcase" role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="row">
    <pre class="col-sm-4"
         style="background: transparent; border: none; font-size: 1.2em; font-weight: bold">
       /|        |\
    `__\\        //__'
        ||      ||
      \__`\     |'__/
        `_\\   //_
        _.,:---;,._
        \_:     :_/
          |@. .@|
          |     |
           \.-./
            `-'
      </pre>
      <div class="col-sm-8">
        <h1>{{vm.title}}</h1>

        <p>You just used the hirsch generator to scaffold your new application</p>

        <button class="btn btn-primary" ng-click="vm.submit()">Press Me :-)</button>

        <button class="btn btn-info" ui-sref="admin.home">go home</button>

      </div>
    </div>
  </div>

</div> <!-- /container -->


