<c3-page-header page-title="'MEMBERS.TITLE'"></c3-page-header>

<!--page-promise=""-->
<c3-page-body page-promise="vm.users">

  <div class="row" ng-if="vm.users.isFulfilled()">
    <table class="table col-xs-12">
      <thead>
      <th class="header" ng-click="vm.table.setOrderBy('id')"><a>{{ 'COMMON.LABELS.ID' | translate }}</a></th>
      <th class="header" ng-click="vm.table.setOrderBy('fname')"><a>{{ 'COMMON.LABELS.FIRSTNAME' | translate }}</a></th>
      <th class="header" ng-click="vm.table.setOrderBy('lname')"><a>{{ 'COMMON.LABELS.LASTNAME' | translate }}</a></th>
      <th class="header" ng-click="vm.table.setOrderBy('gender')"><a>{{ 'COMMON.LABELS.GENDER' | translate }}</a></th>
      <th class="header" ng-click="vm.table.setOrderBy('email')"><a>{{ 'COMMON.LABELS.EMAIL' | translate }}</a></th>
      <th class="header" ng-click="vm.table.setOrderBy('updatedAt')"><a>{{ 'COMMON.LABELS.UPDATED_AT' | translate }}</a></th>
      <th class="header" ng-click="vm.table.setOrderBy('createdAt')"><a>{{ 'COMMON.LABELS.CREATED_AT' | translate }}</a></th>

      <th class="header"></th>
      </thead>
      <tbody>

      <tr ng-repeat="user in vm.users.value() | filter:vm.table.filterValue
                    | orderBy: vm.table.orderValue:vm.table.isRevert">

        <td><span>{{user.id}}</span></td>
        <td><span>{{user.fname}}</span></td>
        <td><span>{{user.lname}}</span></td>

        <td width="60px">
          <i class="fa" ng-class="{'fa-mars': user.gender==='M', 'fa-venus': user.gender==='F'}"></i>
        </td>

        <td><span>{{user.email}}</span></td>


        <td width="150px"><span>{{user.updatedAt | c3DateFilter:'DD.MM.YYYY HH:MM:SS'}}</span></td>
        <td width="150px"><span>{{user.createdAt | c3DateFilter:'DD.MM.YYYY HH:MM:SS'}}</span></td>

        <td>
          <div class="pull-right">
            <button type="button" class="btn btn-table btn-table-primary">{{'COMMON.ACTIONS.DETAIL'|translate}}</button>
            <button type="button" class="btn btn-table btn-table-primary">{{'COMMON.ACTIONS.UPDATE'|translate}}</button>
            <button type="button" class="btn btn-table btn-table-danger">{{'COMMON.ACTIONS.DESTROY'|translate}}</button>
          </div>
        </td>
      </tr>

      </tbody>
    </table>
  </div>

</c3-page-body>
