<c3-page-header page-title="'MEMBERS.TITLE'"></c3-page-header>

<!--page-promise=""-->
<c3-page-body >

  <div class="row">
    <table class="table col-xs-12">
      <thead>
      <th class="header">Col1</th>
      <th class="header">Col2</th>
      <th class="header"></th>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>ASDF</td>
        <td>
          <div class="pull-right">
            <button type="button" class="btn btn-table btn-table-info">Bearbeiten</button>
            <button type="button" class="btn btn-table btn-table-danger">Löschen</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>QWET</td>
        <td>
          <div class="pull-right">
            <button type="button" class="btn btn-table btn-table-info">Bearbeiten</button>
            <button type="button" class="btn btn-table btn-table-danger">Löschen</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>YXCV</td>
        <td>
          <div class="pull-right">
            <button type="button" class="btn btn-table btn-table-info">Bearbeiten</button>
            <button type="button" class="btn btn-table btn-table-danger">Löschen</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</c3-page-body>
